
<div *ngIf="!registerMode" class="text-center">
  <h1>Vehicle Restoration Marketplace</h1>
  <p class="lead"> Get an expert to restore your dream car.
    All you need to do is Register!</p>
  <!-- <div class="text-center">
    <button class="btn btn-primary btn-lg"(click)="registerToggle()">Register</button>
    <button class="btn btn-info btn-lg">Learn More</button>
  </div> -->
</div>

<main role="main">
    <ul class="flexgrid columns-news">
      <li>
        <a href="">
        
          <figure>
            <img src="https://res.cloudinary.com/babyhulk/image/upload/c_scale,w_407/v1531131077/automobile-automotive-brand-139334_akuurc.jpg" >
            <figcaption>
              <p>
                
              </p>
              <h2>
 
          </h2>
            </figcaption>
          </figure>
        </a>
      </li>
      <li>
      
       
        <a href="">
          <figure>
            <img src="https://res.cloudinary.com/babyhulk/image/upload/c_scale,w_344/v1531109086/auto-automobile-car-461824_klntc0.jpg" >
            <figcaption>
              <p></p>
              <h2></h2>
            </figcaption>
          </figure>
        </a>
      </li>
      <li>
       
        <a href="">
          <figure>
            <img src="https://res.cloudinary.com/babyhulk/image/upload/c_scale,w_395/v1531109085/alley-automobile-automotive-1029929_vd7to7.jpg">
            <figcaption>
              <p>
           
              </p>
              <h2>

          </h2>
            </figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="">
          <figure>
            <img src="https://res.cloudinary.com/babyhulk/image/upload/c_scale,h_420/v1531109367/automobile-automotive-car-163576_shxuo0.jpg">
            <figcaption>
              <p>
              
              </p>

       
            </figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="">
         
          <figure>
            <img src="https://res.cloudinary.com/babyhulk/image/upload/c_scale,w_563/v1531109593/automobile-automotive-car-18615_txki3d.jpg" >
            <figcaption>
   
              <h2>
          </h2>
            </figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="">
          <figure>
            <img src="https://res.cloudinary.com/babyhulk/image/upload/c_scale,w_576/v1531109358/automobile-automotive-cadillac-163553_ho0nk1.jpg" >
            <figcaption>

              <h2>

          </h2>
            </figcaption>
          </figure>
        </a>
      </li>
      <li>
          <figure>
            <img src="https://res.cloudinary.com/babyhulk/image/upload/c_scale,h_489/v1531109355/american-auto-automotive-35624_dotugk.jpg">
            <figcaption>
              <h2>
          </h2>
            </figcaption>
          </figure>
      </li>
      
      <li>

          <figure>
            <img src="https://res.cloudinary.com/babyhulk/image/upload/v1531109367/automobile-automotive-car-163576_shxuo0.jpg">
            <figcaption>

              <h2> 
          </h2>
            </figcaption>
          </figure> 
       
      </li>
    </ul>
  
    
  </main>

<!-- <div *ngIf="registerMode" class="container">  
  <div class="col-md-4 col-md-offset-4">
    <app-register (cancelRegister) ="cancelRegisterMode($event)"></app-register>
  </div>
</div> -->

