article {
    display: grid;
    grid-template-columns: 
      [full-start] minmax(1em, 1fr) 
      [main-start] minmax(0, 96em) [main-end]
      minmax(1em, 1fr) [full-end];
    grid-gap: 1em;
  }
  
  section {
    grid-column: main;
  }
  
  figure {
    grid-column: full;
  }
  
  
  body {
    padding: 2em 0;
  }
  
  article > * {
    background-color: #eaeaea;
    padding: 2em;
  }
  
  figure {
    text-align: center;
  }
  
  img {
    max-width: 100%;
  }
  
  hr {
      display: block;
      position: relative;
      padding: 0;
      margin: 8px auto;
      height: 0;
      width: 100%;
      max-height: 0;
      font-size: 1px;
      line-height: 0;
      clear: both;
      border: none;
      border-top: 1px solid #aaaaaa;
      border-bottom: 1px solid #ffffff;
   }